.items-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 16px;
    border: 4px solid #000000;
    list-style: none;

    &__item {
        margin: 0 8px 8px 0;
        min-width: calc(25% - 8px);
    }
}