.top-left {
    padding: 16px;
    border: 4px solid #000000;
    max-width: 336px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    
        &__item {
            margin: 0 8px 16px 0;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}