<div class="top-left">
    @if (data.length) {
        <ul class="top-left__list">
            @for (item of data; track item) {
                <li class="top-left__list__item">
                    <app-item [task]=item />
                </li>
            }
        </ul>
    }

    <div class="top-left__count">
        selected {{ data.length }} / 6
    </div>
</div>