.main {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
    border: 4px solid #000000;

    &__top, &__bottom {
      display: flex;
    }

    &__top {
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__bottom {
        margin: -8px;

        & > * {
            width: 50%;
            margin: 8px;
        }
    }
  }