<main class="main">
  <div class="main__top">
    <app-top-left-selected [data]=leftSelected />
    <app-top-right-selected [item]=rightSelected />
  </div>
  <div class="main__bottom">
    <app-items-list class="main_bottom" [data]=leftComputed (selectedItem)="selectedLeft($event)" />
    <app-items-list class="main_bottom" [data]=right (selectedItem)="selectedRight($event)" />
  </div>
</main>